{% extends 'book/base.html' %}

{% block content %}
    <h1 class="my-4">Home -
        <small>Book List</small>
    </h1>
<img src="/home/yuika/IMG_9147.jpg" alt="AZUMAYA" title="からあげ">
<h2>からあげ</h2>

<p>ジュワーっと溢（あふ）出す肉汁（にくじゅう）がたまらない！ご飯によく合う「おかずの定番（ていばん）」！

鶏肉（とりにく） に片栗粉 (かたくりこ) 、小麦粉（こむぎこ）をまぶし、 調味料（ちょうみりょう）と混ぜてもみ込んだりして揚げたもの。韓国でいう骨なしチキン。</p>
<h2>照り焼きチキン</h2>

<p>甘辛（あまから）い味が虜（とりこ）になる！子どもから大人（おとな）まで幅広（はばひろ）い層（そう）から愛される 「人気料理（にんきりょうり） 」！

 醤油（しょうゆ）を基本（きほん）にした甘（あま）みのあるタレを食材（しょくざい）に塗（ぬ）りながら焼（や）く調理法（ちょうりほう）。 タレの糖分（とうぶん）により食材（しょくざい）の表面（ひょふめん）がツヤを帯（お）び、「照り」が出るのが名前の由来（ゆらい）。</p>
<h2>はしまき</h2>

<p>見た目が可愛く、味も間違いなしの一品 ！くるくる可愛い「中国・九州地方定番屋台料理」！

大阪よりも西の中国（ちゅうごく）・九州地方（きゅうしゅうちほう）のお祭りの屋台（やたい）で売っている食べ物。 お好み焼きを薄（うす）くして、くるくると箸（はし）で巻（ま）いて食べやすくしたもの。「はしまき」は四国（しこく）の屋台などでも見かけられ、「博多名物（はかためいぶつ）」と書かれたりもしているようなので、発祥（はっしょう）はどこか不明（ふめい）。</p>

 

<h2>たこやき</h2>

<p>サクッとフワフワ触感（しょっかん）！みんな大好き！今回は本物（ほんもの）のタコ入り！

小麦粉（こむぎこ）の生地（きじ）の中にタコ（主にマダコ）と薬味（やくみ）を入れて直径（ちょっけい） 3-5cmほどの球形（きゅうけい）に焼き上げた、大阪発祥（おおさかはっしょう）とされる料理。</p>

    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for book in object_list %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td><a href="{% url "book_view" book.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url "book_edit" book.id %}"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a></td>
                    <td><a href="{% url "book_delete" book.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no book, yet. But if you want, you can add from <a class="badge badge-info" href="{% url "book_new" %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
