{% extends 'book/base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Author:</strong> {{ object.author }}</li>
              <li class="list-group-item"><strong>Publisher:</strong> {{ object.publisher }}</li>
              <li class="list-group-item"><strong>Comment:</strong> {{ object.comment }}</li>
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col text-center">
            <a href="{% url "book_edit" book.id %}"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a>
        </div>
        <div class="col text-center">
            <a href="{% url "book_delete" book.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a>
        </div>
    </div>
{% endblock %}
