{% extends 'book/base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Title:</strong> {{ object.Title }}</li>
              <li class="list-group-item"><strong>Date:</strong> {{ object.Date }}</li>
              <li class="list-group-item"><strong>Text:</strong> {{ object.Text }}</li>
	      <li class="list-group-item"><strong>Text:</strong> {{ object.Image.url }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
