{% extends 'book/base.html' %}

{% block content %}

    <h1 class="my-4"style="font-family: 'Caveat', cursive;">{% if request.path == '/new' %}Mystory{% else %} Edit - {% endif %}

    <h1>{% if request.path == '/new' %}{% else %} Edit - {% endif %}

        {% if request.path != '/new' %}<small>{{ book.name }}</small>{% endif %}
<body>
   <img src="https://kenpro-shop.jp/user_data/packages/default/img/category/material/best/sky_02.jpg" alt="sky picture" title ="sky" width= "1000" height="200">
</body>
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
            </form>
        </div>
    </div>
{% endblock %}
